{% block body %}

<div class="alexander {{ctrl}}" ng-app="{{app}}" ng-controller="{{ctrl}} as vm">

    <form ng-submit="vm.onSubmit()" name="vm.form" class="form" id="{{ctrl}}" novalidate>      
        <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
        <button type="button" class="btn btn-default" ng-click="vm.resetAllForms()">Reset</button>          
        <uib-tabset>
            <uib-tab ng-repeat="tab in vm.tabs" heading="[[ tab.title ]]" active="tab.active" disable="tab.disable">
                <div id="[[ tab.index ]]"></div>     
                <formly-form model="tab.form.model" fields="tab.form.fields" form="vm.form" options="tab.form.options"></formly-form>
                <div ng-repeat="datatable in tab.datatables"> 
                    <table class="alexander table table-striped dataTable [[datatable.ctrl]]">
                        <thead>
                            <tr>
                                <td  ng-repeat="field in datatable.fields">
                                    [[ field.content ]]
                                </td>
                            </tr> 
                            <tr>
                                <td ng-repeat="field in datatable.fields">[[ field.name ]]</td>
                            </tr>                
                        </thead> 
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
        </uib-tabset>  
    </form>
</div>    
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}