{% block body %}


    <div id="builder-basic"></div>

    <script>

        $(document).ready(function () {
            $('#builder-basic').queryBuilder({
                filters: [
                    {
                        id: 'name',
                        label: 'Name',
                        type: 'string'
                    }
                ]
            })
        })

    </script>    

{% endblock %}