{% block body %}


    <div id="builder-basic"></div>

    <script>
        setTimeout(function(){
            $(document).ready(function () {
                $('#builder-basic').queryBuilder({
                    filters: [
                        {
                            id: 'name',
                            label: 'Name',
                            type: 'string'
                        }
                    ]
                })
            })                        
        },100)
    </script>    

{% endblock %}