{% block body %}

    
<div id="builder"></div>

<script>


$(document).ready(function(){
    $('#builder').queryBuilder({
        filters: [{id:1}] // You need to implement this
    });
  })
</script>    
    
{% endblock %}