{% block body %}

    
<div id="builder-basic"></div>

<script>


$('#builder-basic').queryBuilder({
    filters: {
    id: 'name',
    label: 'Name',
    type: 'string'
  }})

</script>    
    
{% endblock %}