<!-- BEGIN OFFCANVAS CHAT -->

<div id="offcanvas-chat" style="width:500px" class="offcanvas-pane style-default-light width-12">
    <div class="offcanvas-head style-default-bright">
        <header class="text-primary">Chat</header>
        <div class="offcanvas-tools">
            <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                <i class="md md-close"></i>
            </a>
            <!--a class="btn btn-icon-toggle btn-default-light pull-right" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false">
                <i class="md md-arrow-back"></i>
            </a-->
        </div>
        <div class="form">
            <div class="form-group floating-label">
                <li class="dropdown hidden-xs">
                    {% usersarr | raw %}
                </li><!--end .dropdown -->
                <label for="sidebarChatMessage">Προς</label>
            </div>                               
            <div class="form-group floating-label">
                <input  name="sidebarChatMessage" id="sidebarChatMessage"  maxlength=200 class="sidebarChatMessage form-control autosize" rows="1">
                <label for="sidebarChatMessage">Leave a message</label>
            </div>

        </div>
    </div>
    <div  class="offcanvas-body">
        <ul id="chat-area" class="list-chats">
        </ul>
    </div><!--end .offcanvas-body -->
</div><!--end .offcanvas-pane -->
<!-- END OFFCANVAS CHAT -->