{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Καλως ήρθατε</span> στο Parts Box της FastWeb</h1>
            </div>

        </div>
    </div>
    <div id="rickshawGraph" class="height-4" data-color1="#0aa89e" data-color2="rgba(79, 89, 89, 0.2)"></div>
{% endblock %}

{% block javascripts %}
<script>    


    </script>

{% endblock %}