{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Καλως ήρθατε</span> στο Parts Box της FastWeb</h1>
            </div>

        </div>
    </div>
    <div class="col-lg-12">
        <h2 class="text-primary">Rickshaw charts</h2>
    </div><!--end .col -->
    <div class="col-lg-12">
        <h4>Examples</h4>
    </div><!--end .col -->
    <div class="col-lg-3 col-md-4">
        <article class="margin-bottom-xxl">
            <p>
                Rickshaw is a JavaScript toolkit for creating interactive time series graphs.
            </p>
        </article>
    </div><!--end .col -->
    <div class="col-lg-offset-1 col-md-8">
        <div class="card">
            <div class="card-body">
                <div id="rickshawGraph" class="height-4" data-color1="#0aa89e" data-color2="rgba(79, 89, 89, 0.2)"></div>
            </div><!--end .card-body -->
        </div><!--end .card -->
        <em class="text-caption"> Interactive Real-Time Data (Dig into continuously updating data)</em>
        <div class="card">
            <div class="card-body">
                <div class="column">
                    <div id="rickshawDemo2"></div>
                    <div id="slider"></div>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
        <em class="text-caption"> Multiple Renderers (Bars, lines, area, and scatterplot graphs all in one setting)</em>
    </div><!--end .col -->
{% endblock %}

{% block javascripts %}
    <script>


    </script>

{% endblock %}