{% block body %}

    <div class="orderitemstable style-primary-light">
        <h3>Ιστορικό Πωλήσεων</h3>
        <table class="table-striped">
            <thead>
            <tr>
                <td>ID</td>
                <td>Παραγγελεία</td>
                <td>Ημερ.</td>
                <td>Qty</td>
                <td>Τιμή</td>
                <td>Εκπτωση</td>
                <td>Αξία</td>
            </tr>
            </thead>
            <tbody>
            {% for row in content %}
                <tr>
                    {% for f in row %}
                        <td>{{f}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}