{% extends 'base.html.twig' %}
{% block body %}

    <div id='printarea'>
        {{content}}
    </div>
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    <script src="{{  asset('assets/js/libs/softone/jquery.printElement.min.js') }}"></script> 
    <script>
        setTimeout(function () {
            jQuery('#printarea').printElement();
        }, 1000)
    </script>
{% endblock %}
