{% block body %}
<div style="padding: 0 10px;">   
    <table class="right">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="padding: 0 10px; font-size: 18px;"><b>Total:</b></td>
            <td style="padding: 0 30px; font-size: 18px;"><b>{{total}}</b></td>
        </tr>
    </table>
</div>
{% endblock %}