{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{  asset('assets/css/upload.css') }}" />
{% endblock %}
{% block body %}
    <div class="upload"></div>
    <div class="filelists">
        <h5>Complete</h5>
        <ol class="filelist complete">
        </ol>
        <h5>Queued</h5>
        <ol class="filelist queue">
            <li data-index="0" class="error"><span class="content"><span class="file">bf goodrich.jpg</span><span class="cancel">Cancel</span><span class="progress">Error: abort</span></span><span class="bar" style="width: 100%;"></span></li></ol>
        <span class="cancel_all">Cancel All</span>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{  asset('assets/js/libs/partsbox/core.js') }}"></script>
    <script src="{{  asset('assets/js/libs/partsbox/upload.js') }}"></script>
    <script>
        setTimeout(function () {
            $(".upload").upload({
                action: "//example.com/handle-upload.php"
            });
        }, 100)
    </script>
{% endblock %}

