{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{  asset('assets/css/upload.css') }}" />
{% endblock %}
{% block body %}
    <div class="upload"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{  asset('assets/js/libs/partsbox/core.js') }}"></script>
    <script src="{{  asset('assets/js/libs/partsbox/upload.js') }}"></script>
    <script>
        setTimeout(function () {
            $(".upload").upload({
                action: "//example.com/handle-upload.php"
            });
        }, 100)
    </script>
{% endblock %}

