{% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{  asset('assets/css/dropzone.css') }}" />
{% endblock %}
{% block body %}
<form action="/upload-target" class="dropzone"></form>
{% endblock %}

{% block javascripts %}
    <script src="{{  asset('assets/js/libs/partsbox/dropzone.js') }}"></script>
    <script>
        setTimeout(function(){
            alert("ss");
            $("div#myId").dropzone({ url: "/file/post" });
        },100)
        
    </script>
{% endblock %}

