{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{  asset('assets/css/upload.css') }}" />
{% endblock %}
{% block body %}
    <div class="upload"></div>
    <div class="filelists">
        <h5>Complete</h5>
        <ol class="filelist complete">
        </ol>
        <h5>Queued</h5>
        <ol class="filelist queue">
        </ol>
        <span class="cancel_all">Cancel All</span>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{  asset('assets/js/libs/partsbox/core.js') }}"></script>
    <script src="{{  asset('assets/js/libs/partsbox/upload.js') }}"></script>
    <script>
        setTimeout(function () {
            $(".upload").upload({
                action: "/erp01/product/addUpload"
            }).on("start.upload", onStart)
                    .on("complete.upload", onUploadComplete)
                    .on("filestart.upload", onUploadFileStart)
                    .on("fileprogress.upload", onUploadFileProgress)
                    .on("filecomplete.upload", onUploadFileComplete)
                    .on("fileerror.upload", onUploadFileError)
                    .on("chunkstart.upload", onUploadChunkStart)
                    .on("chunkprogress.upload", onUploadChunkProgress)
                    .on("chunkcomplete.upload", onUploadChunkComplete)
                    .on("chunkerror.upload", onUploadChunkError)
                    .on("queued.upload", onUploadQueued);
            $(".filelist.queue").on("click", ".cancel", onUploadCancel);
            $(".cancel_all").on("click", onUploadCancelAll);
        }, 100);

    </script>
{% endblock %}

