{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{  asset('assets/css/upload.css') }}" />
{% endblock %}
{% block body %}
    <div class="upload"></div>

{% endblock %}

{% block javascripts %}
    <script src="{{  asset('assets/js/libs/partsbox/core.js') }}"></script>
    <script src="{{  asset('assets/js/libs/partsbox/upload.js') }}"></script>
    <script>
        setTimeout(function () {
            $(".upload").upload({
                action: "//example.com/handle-upload.php"
            }).on("start.upload", onStart)
                    .on("complete.upload", onComplete)
                    .on("filestart.upload", onFileStart)
                    .on("fileprogress.upload", onFileProgress)
                    .on("filecomplete.upload", onFileComplete)
                    .on("fileerror.upload", onFileError)
                    .on("chunkstart.upload", onChunkStart)
                    .on("chunkprogress.upload", onChunkProgress)
                    .on("chunkcomplete.upload", onChunkComplete)
                    .on("chunkerror.upload", onChunkError)
                    .on("queued.upload", onQueued);
            $(".filelist.queue").on("click", ".cancel", onCancel);
            $(".cancel_all").on("click", onCancelAll);
        }, 100)

    </script>
{% endblock %}

