{% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{  asset('assets/css/upload.css') }}" />
{% endblock %}
{% block body %}
<form action="/upload-target" class="dropzone"></form>
{% endblock %}

{% block javascripts %}
    <script src="{{  asset('assets/js/libs/partsbox/core.js') }}"></script>
    <script src="{{  asset('assets/js/libs/partsbox/upload.js') }}"></script>
    <script>
        setTimeout(function(){
            alert("ss");
            var myDropzone = new Dropzone("div#myId", { url: "/file/post"});
        },10000)
        
    </script>
{% endblock %}

