{% block body %}



<div id="productInfoTabs">
  <ul>
    <li><a href="#productInfoTabs-1">Attibutes</a></li>
    <li><a href="#productInfoTabs-2">Εφαρμογές</a></li>
    <li><a href="#productInfoTabs-3">Originals</a></li>
  </ul>
  <div class="productInfoTabs" id="productInfoTabs-2">
    {{ content.efarmoges | raw }}
  </div>
  <div class="productInfoTabs" id="productInfoTabs-1">
    {{ content.articleAttributes | raw }}
  </div>
  <div class="productInfoTabs" id="productInfoTabs-3">
   {{ content.originals | raw }}
  </div>
</div>

{% endblock %}

